<div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating red modal-trigger" href="#create-modal"><i class="material-icons">add</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">mode_edit</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">refresh</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">launch</i></a></li>
    </ul>
  </div>
<div id="calendar" class="container"></div>

<div id="create-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
  </div>
</div>
