<div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating red modal-trigger" href="#create-modal"><i class="material-icons">add</i></a></li>
      <li><a class="btn-floating blue modal-trigger" href="#edit-modal"><i class="material-icons">mode_edit</i></a></li>
      <li><a class="btn-floating green" id="refresh-events"><i class="material-icons">refresh</i></a></li>
      <li><a class="btn-floating blue" href="https://github.com/mariovzc?tab=repositories" target="_blank"><i class="material-icons">launch</i></a></li>
    </ul>
  </div>
<div id="calendar" class="container"></div>

<div id="create-modal" class="modal modal-fixed-footer">
  <form id="create-event-form" class="col s12">
    <div class="modal-content">
        <div class="row">
          <div class="input-field col s12">
            <input id="title" name="title" type="text" class="validate">
            <label for="title">Title</label>
          </div>
          <div class="input-field col s12">
            <input type="date" name="start" id="start" class="datepicker">
            <label for="title">Start Date</label>
          </div>
          <div class="input-field col s12">
            <input type="date" name="end" id="end" class="datepicker">
            <label for="title">End Date</label>
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <button class="btn waves-effect waves-light" type="submit" name="action">Create Event</button>
    </div>
  </form>
</div>

<div id="edit-modal" class="modal modal-fixed-footer">
  <div class="modal-content">

  </div>
  <div class="modal-footer">
    <button class="btn waves-effect waves-light" type="submit" name="action">Create Event</button>
  </div>
</div>
